/***** RESET PAGE *****/
:root {
    --primary-color: #383838;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
  }