/***** GOOGLE FONTS *****/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


/* =========> DEFAULT SYLES <======== */
@import url('./global/global.css');
@import url('./footer/footer.css');

/* =========> THEME <======== */
@import url('./theme/dark.css');

/* =========> COMPONENTS <======== */

@import url('./components/cadrasto.css');
@import url('./components/login.css');
@import url('./components/products.css');

/* =========> COMPONENTS <======== */
@import url('./header/Mainheader.css');
@import url('./header/darkHeader.css');

/* =========> UTLILIDADES <======== */
@import url('./ultilidades/button.css');
@import url('./ultilidades/card.css');

/* =========> HOME <======== */
@import url('./home/catalogo.css');
@import url('./home/frete.css');
@import url('./home/pagamentos.css');
@import url('./home/produtos.css');








/***** ROOT *****/

:root {
  --primary-color: #383838;
  --secundary-color: #b5b5b5;
  --important-color: #e63946;
  --secundary-important-color: #8338ec30;

  --background-color: #fefefe;
  --secundary-background: #e9eae5;

  /***** DARCK COLORS *****/

  --back-darck: #151515;
  --secundary-back-darck: #272727;
  --third-back-darck: #1b1b1b;

  --box-shadow-contents: 0px 0px 4px 1px rgba(0, 0, 0, 0.274);
  --box-shadow-contents-hover: 0px 0px 6px 2px rgba(0, 0, 0, 0.363);
}


/***** LIGHT AND DARK *****/
input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

#minhaDiv {
  display: none;
}


/***** BODY *****/

body {
  background-color: var(--background-color);
}



/***** BANNER *****/

.banner-initial {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-initial figure {
  width: 84%;
  height: 80%;
  /* margin-top: 30px; */
  background-image: url(..//img/backgrounds/mobile-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.473);
  transition: 0.5s;
}

.banner-initial figure:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.555);
}

.search-banner {
  width: 100%;
  height: 100%;
  background-color: #15151570;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

.search-banner h4 {
  font-size: 3rem;
  line-height: 50px;
  margin-bottom: 30px;
  color: var(--background-color);
}

.search-banner div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-banner input {
  width: 50%;
  height: 60px;
  position: relative;

  background-color: #f4f4f4;
  color: #151515;
  box-shadow: #15151580 0px 0px 10px 0px;

  font-size: 1.1rem;
  font-weight: 500;

  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0px 70px;
}

.search-banner input:focus {
  box-shadow: #000 0px 0px 10px 0px;
}

.search-banner input:focus::placeholder {
  padding-left: 10px;
  opacity: 0;
  transition: 0.5s;
  font-style: italic;
}

.search-banner i {
  position: absolute;
  left: 15px;
  color: #151515;
  opacity: 0.3;
  font-size: 1.4rem;
  padding: 0px 10px;
}

/***** TÍTULOS *****/

.titles-page {
  width: 84%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--important-color);
  box-shadow: 0px 0px 10px 0px var(--important-color);
  border-radius: 5px;
  margin: 60px 0px;

}

.titles-page h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 20px;
  color: var(--background-color);
}

.titles-page {
  width: 84%;
  height: 40px;
  background-color: var(--important-color);
  border-radius: 5px;
  display: flex;
  margin: 60px 0px;
  justify-content: center;
  flex-direction: column;
}

.titles-page h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 20px;
  color: var(--background-color);
}

/******* CATEGORIAS *******/

.categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.box {
  min-width: 170px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secundary-background);
  border-radius: 10px;
  gap: 10px;
}

.box div {
  min-width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.box div i {
  font-size: 2.5rem;
  color: var(--important-color);
}

.scrolling-wrapper {
  width: 84%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/***** CATALOGUE INITIAL *****/



/*** CARROSSEL ARROWS ***/

.buttons-arrows {
  width: 102%;
  height: 100px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.buttons-arrows p {
  font-weight: 600;
  text-transform: uppercase;
}

.buttons-arrows button {
  border-radius: 10px;
  width: 50px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px 0px #15151570;
}

.buttons-arrows button i {
  color: var(--important-color);
}

.buttons-arrows button:hover {
  background-color: var(--important-color);
  box-shadow: 0px 0px 20px 0px #27272740;
  transition: 0.5s;
}

.buttons-arrows button:hover i {
  color: var(--background-color);
}



/******** SEE-ALL - BANNER *******/

.see-all {
  background-color: var(--secundary-background);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.274);
  border-radius: 10px;
  width: 82vw;
  margin: 150px auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--secundary-color);
}

.see-all:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.363);
}

.see-all-left {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  line-height: 40px;
}

.see-all h5 {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}

.see-all-left p {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.see-all-image {
  width: 40%;
  min-width: 400px;
  background-color: var(--secundary-background);
  background-image: url("../img/projects/nike-jordan.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/***************************/
/******  WINDOW LOGIN ******/
/***************************/

/**** O QUE IMPORTA (pro e-ecommerce)É A  PARTIR DAQUI****/

.login-page {
  width: 100%;
  height: 100vh;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secundary-background);
}

/**** login-container ****/
.login-container {
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: 45px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: var();

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/**** login-register ****/

.login-register,
.login-sign-in {
  width: 40%;
  height: 70%;
  /* background-color: var(--background-color); */
}

.login-register section,
.login-sign-in section {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-register {
  height: 34.2rem;
  margin-bottom: 10px;
  width: 40vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 0px 20px 0px #00000050;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/sign-concept-illustration_114360-125.jpg?w=2000);
}

.login-register section {
  width: 100%;
  height: 100%;
  background-color: #00000090;

  display: flex;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.login-register section button p {
  color: #fff;
}

.login-register h1 {
  text-shadow: 1px 1px 3px #00000071;
  margin-left: 50px;
  font-size: 2.5rem;
  color: var(--background-color);
}

.login-register h1 b,
.login-register h3 b {
  color: var(--important-color);
}

.register {
  color: var(--background-color);
  font-size: 1.1rem;
  letter-spacing: 0rem;
}

.register h3 {
  font-size: 1.3rem;
  margin-left: 50px;
  width: 80%;
  margin-top: 40px;
  color: var(--secundary-background);
}


/*  =============== Author Diogo */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px !important;
}

#menu-mobile {
  display: none ;
}

@media(max-width:1200px) {
  #header-bg{
    padding: 0 20px;
  }
  .menu {
    /* display: none; */
    padding: 0 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .menu .list,
  .configs-menu {
    display: none !important;
  }
  #menu-mobile {
    display: block ;
  }

  

  




  /* #menu-mobile::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #333;
    display: flex;
    
  
  }
  #menu-mobile::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #333;
    display: flex;
  
  } */


}

/* Fix logo */

.logoEcommerce{
  width: 100%;
}

/* Responsividade - Smartphone - Tablet - DaskTop - etc.. */

@media all and (max-width: 851px) {
  .login-container .login-register {
    display: none;
  }
}

@media all and (max-width: 425px) {
  .menu div h1 {
    font-size: 1.3rem;
  }

  .banner-initial {
    border-radius: initial;
    background: red;
  }

  .banner-initial figure {
    width: 100%;
    height: 100%;
    background-image: url(..//img/backgrounds/mobile-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .search-banner h4 {
    font-size: 2.6rem;
    margin-left: -40px;
  }

  .search-banner div {
    margin-left: -40px;
  }

  .search-banner div input {
    width: 92%;
  }

  .frete p {
    width: 92%;
    font-size: 1.3rem;
    margin-top: 60px;
  }

  .scrolling-wrapper {
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .box {
    min-width: 180px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secundary-background);
    border-radius: 10px;
    gap: 10px;
  }

  .box div {
    min-width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
  }

  .box div i {
    font-size: 2.5rem;
    color: var(--important-color);
  }

  .scrolling-wrapper {
    width: 84%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto visible;
    gap: 20px;
  }

  .scrolling-wrapper::-webkit-scrollbar-thumb,
  .scrolling-wrapper::-webkit-scrollbar-track {
    background: none;
  }

  .box-catalogue {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .payments {
    flex-wrap: nowrap;
    margin-bottom: -10px;
  }

  .payments div ul {
    display: none;
  }

  footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    padding: 10px;
  }
}

/************** RESPONSIVIDADE ****************/

@media (max-width: 1250px) {

  /******* BANNER HOME ******/
  .banner-initial figure {
    width: 100%;
    height: 100vh;
  }

  /******* CATEGORIAS ******/
  .scrolling-wrapper {
    width: 88%;
    gap: 6px;
  }

  .box {
    width: 120px;
  }

  .titles-page {
    width: 88%;
  }

  /******* CATALOGUE ******/
  .box-catalogue {
    width: 88%;
  }

  .box-catalogue li {
    width: 260px;
  }

  /******* CATALOGUE ******/

  .payments div {
    width: 87%;
  }

  /******* CARROSSEL ******/

  .carrossel {
    width: 105%;
  }

  .carrossel li {
    width: 270px;
  }

  /*******  SEE ALL ******/

  .see-all {
    width: 87%;
  }
}

@media (max-width: 1104px) {

  /******* CATEGORIAS ******/
  .scrolling-wrapper {
    width: 88%;
    gap: 30px;
  }

  .box {
    width: 31%;
  }

  .titles-page {
    margin-top: 100px;
  }

  /******* CATALOGUE ******/

  .box-catalogue li {
    width: 227px;
    height: 340px;
    margin-bottom: 0px;
  }

  .box-catalogue li figure {
    height: 80%;
  }

  .box-catalogue li figcaption {
    height: 20%;
  }

  .payments {
    margin: 0px;
    margin-top: 90px;
  }

  /******* CARROSSEL ******/

  .carrossel li {
    width: 227px;
    height: 340px;
    margin-bottom: 0px;
  }

  .carrossel li figure {
    height: 80%;
  }

  .carrossel li figcaption {
    height: 20%;
  }

  .carrossel li figcaption h4 {
    font-size: 1rem;
  }

  /*******  SEE ALL ******/

  .see-all {
    width: 87%;
  }
}

@media (max-width: 991px) {

  /******* CATEGORIAS ******/
  .scrolling-wrapper {
    width: 88%;
    gap: 30px;
  }

  .box {
    width: 31%;
  }

  .titles-page {
    margin-top: 100px;
  }

  /******* CATALOGUE ******/

  .box-catalogue li {
    width: 203px;
    height: 340px;
    margin-bottom: 0px;
  }

  .box-catalogue li figure {
    height: 80%;
  }

  .box-catalogue li figcaption {
    height: 20%;
  }

  .box-catalogue li figcaption h1 {
    font-size: 0.9rem;
  }

  /******* PAYMENTS ******/

  .payments div {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .none-payment {
    display: none;
  }

  /******* CARROSSEL ******/

  .carrossel li figcaption h1 {
    font-size: 0.9rem;
  }

  /*******  SEE ALL ******/

  .see-all {
    width: 87%;
  }
}

@media (max-width: 947px) {

  /******* CATEGORIAS ******/
  .scrolling-wrapper {
    width: 88%;
    gap: 20px;
  }

  .box {
    width: 31%;
  }

  .titles-page {
    margin-top: 100px;
  }

  /******* CATALOGUE ******/

  .box-catalogue {
    gap: 35px;
  }

  .box-catalogue li {
    width: 253px;
    height: 340px;
    margin-bottom: 0px;
  }

  .box-catalogue li figure {
    height: 80%;
  }

  @media (max-width: 991px) {

    /******* CATEGORIAS ******/
    .scrolling-wrapper {
      width: 88%;
      gap: 30px;
    }

    .box {
      width: 31%;
    }

    .titles-page {
      margin-top: 100px;
    }

    /******* CATALOGUE ******/

    .box-catalogue li {
      width: 203px;
      height: 340px;
      margin-bottom: 0px;
    }

    .box-catalogue li figure {
      height: 80%;
    }

    .box-catalogue li figcaption {
      height: 20%;
    }

    .box-catalogue li figcaption h1 {
      font-size: 0.9rem;
    }

    /******* PAYMENTS ******/

    .payments div {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }

    .none-payment {
      display: none;
    }

    /******* CARROSSEL ******/

    .carrossel li figcaption h1 {
      font-size: 0.9rem;
    }

    /*******  SEE ALL ******/

    .see-all {
      width: 87%;
    }
  }

  .box-catalogue li figcaption {
    height: 20%;
  }

  .box-catalogue li figcaption h1 {
    font-size: 0.9rem;
  }

  /******* PAYMENTS ******/

  .payments div {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .none-payment {
    display: none;
  }

  /******* CARROSSEL ******/

  .carrossel li figcaption h1 {
    font-size: 0.8rem;
  }

  .pay-contact div {
    display: flex;
    justify-content: space-around;
  }

  /*******  SEE ALL ******/

  .see-all {
    width: 87%;
  }
}

@media (max-width: 690px) {

  /******* CATEGORIAS ******/
  .scrolling-wrapper {
    width: 88%;
    gap: 20px;
    height: 200px;
    width: 93%;
    position: relative;
    left: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: -30px;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }

  .box {
    width: 31%;
    height: 100%;
  }

  .titles-page {
    margin-top: 100px;
  }

  /******* CATALOGUE ******/

  .box-catalogue {
    gap: 20px;
  }

  .box-catalogue li {
    width: 188px;
    height: 300px;
    margin-bottom: 0px;
  }

  .box-catalogue li figure {
    height: 80%;
  }

  .box-catalogue li figcaption h1 {
    font-size: 0.8rem;
  }

  /******* PAYMENTS ******/

  .payments div {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .payments div ul {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
  }

  .payments div ul li {
    padding: 0px;
    margin: 0px;
    width: fit-content;
  }

  .payments div ul li section p {
    font-size: 0.7rem;
  }

  /******* CARROSSEL ******/

  .carrossel li figcaption h1 {
    font-size: 0.8rem;
  }

  .pay-contact div {
    display: flex;
    justify-content: space-around;
  }

  /*******  SEE ALL ******/

  .see-all {
    width: 87%;
  }
}

@media (max-width: 500px) {
  /******* CATALOGUE ******/

  .box-catalogue {
    gap: 20px;
  }

  .box-catalogue li {
    width: 210px;
    height: 300px;
    margin-bottom: 0px;
  }

  .box-catalogue li figure {
    height: 80%;
  }

  .box-catalogue li figcaption h1 {
    font-size: 0.8rem;
  }

  .catalogue-suport {
    display: none;
  }

  /******* PAYMENTS ******/

  .payments div ul li section p {
    font-size: 0.5rem;
  }

  /******* FOOTER ******/

  footer .menu-footer {
    justify-content: center;
    align-items: center;
  }

  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
  }

  .shop,
  .links,
  .contact {
    width: 25%;
    height: 300px;
  }

  .shop a,
  .links a,
  .contact a {
    font-size: 0.8rem;
  }
}

@media (max-width: 460px) {
  /******* MENU ******/

  .menu div h1 {
    font-size: 1.5rem;
  }

  /******* BANNER INITIAL ******/

  .search-banner h4,
  .search-banner div {
    margin-left: -34px;
  }

  .search-banner h4 {
    font-size: 3rem;
    width: 100%;
  }

  .search-banner div input {
    width: 90%;
  }

  .frete p {
    font-size: 1rem;
  }

  /******* CATEGORIAS ******/
  .scrolling-wrapper {
    left: 18px;
  }

  /******* CATALOGUE ******/

  .box-catalogue {
    gap: 20px;
  }

  .box-catalogue li {
    width: 192px;
    height: 300px;
    margin-bottom: 0px;
  }

  .box-catalogue li figure {
    height: 80%;
  }

  .box-catalogue li figcaption h1 {
    font-size: 0.8rem;
  }

  /******* PAYMENTS ******/

  .payments div {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .payments div ul {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
  }

  .payments div ul li {
    padding: 0px;
    margin: 0px;
    width: fit-content;
  }

  .payments div ul li section p {
    display: none;
  }

  /******* CARROSSEL ******/

  .carrossel li figcaption h1 {
    font-size: 0.8rem;
  }

  .pay-contact div {
    display: flex;
    justify-content: space-around;
  }

  /*******  SEE ALL ******/

  .see-all {
    width: 87%;
  }
}
