.banner{
    background: url('../img/login-back/background-login-1.jpg')no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
}

.banner .content{
    height: 100%;
    width: 100%;
    padding: 30px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.818));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2{
    max-width: 600px;
    font-size: 4.5em;
    font-weight: 500;
    color: #fff;
}

.content p{
    color: #eee;
    font-size: 1.1em;
    letter-spacing: 1px;
    opacity: 0;
}

.content .ativo{
    animation: appear .4s ease-in-out forwards;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width: 600px){
    .content h2{
        font-size: 2.5em;
    }

    .content p{
        font-size: .9em;
    }
}